<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Game of Death Dashboard</title>
    <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="../static/lib/css/dc.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/css/introjs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/favicon/favicon(1).ico"/>
    <script>
    jQuery(window).load(function () {
        jQuery('#overlay').fadeOut(8000);
    })
    </script>

</head>

<body class="application" style="">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./">Game of Death Toll Dashboard</a>

            <button class="introjs-button" autofocus onclick="javascript:introJs().start();">Start the tour!</button>
        </div>
    </div>
</div>
<div id="outer" class="container-fluid">
    <div id="overlay">
        <br><br><br><br>
        <h1>Loading...</h1>
    </div>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    House Allegiances of Deceased Characters
                </div>
                <div class="chart-stage" data-step="1"
                                 data-intro="This Pie chart shows the Allegiance of Deceased Characters"
                                 style="font-weight: normal" data-position="right">
                    <div id="chart­alligance"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
             <div class="chart-wrapper">
                <div class="chart-title">
                    Total Number of Dead
                </div>
                <div class="chart-stage" data-step="4" data-intro="Total number of dead depending on user selection"
                     style="font-weight: normal" data-position="center">
                    <div id="total-Dead-nd"></div>
                </div>
             </div>
        </div>

        <div class="col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Gender of Deceased
                </div>
                <div class="chart-stage">
                    <div id="chart­gender"data-step="2"
                                 data-intro="This Pie chart shows the Gender of Deceased Characters"
                                 style="font-weight: normal" data-position="right"></div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Social Standing
                </div>
                <div class="chart-stage">
                    <div id="chart­nobility" data-step="3"
                                 data-intro="This Pie chart shows the Nobility of Deceased Characters"
                                 style="font-weight: normal" data-position="left"></div>
                </div>
            </div>
        </div>



        <div class="col-md-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Death per Book
                </div>
                <div class="chart-stage">
                    <div id="chart­line­deaths-per-book" data-step="5"
                                 data-intro="This Pie chart shows the Book in which Characters died"
                                 style="font-weight: normal" data-position="top"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Social Network of Who has been Attacking Who
                </div>
                <div class="chart-stage">
                    <div id="bubbles" data-step="9"
                                 data-intro="This graph represents the social network of battles"
                                 style="font-weight: normal" data-position="right"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Aggressor in Battle
                </div>
                <div class="chart-stage">
                    <div id="chart­attacker" data-step="6"
                                 data-intro="This Pie chart shows the Attacking house for each battle"
                                 style="font-weight: normal" data-position="right"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Victim of Battle
                </div>
                <div class="chart-stage">
                    <div id="chart­deffender"data-step="7"
                                 data-intro="This Pie chart shows the defending house for each battle"
                                 style="font-weight: normal" data-position="right"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Type of Battle
                </div>
                <div class="chart-stage">
                    <div id="chart­battle-type" data-step="8"
                                 data-intro="This Pie chart shows the Type of Battle"
                                 style="font-weight: normal" data-position="right"></div>
                </div>
            </div>
        </div>


    </div>
</div>
</div>



<p class="small text-muted">&#9824; &#9827; &#9829; &#9830; Data from Scott Woodbyrne</p>

<script src="../static/js/intro.js" type="text/javascript"></script>
<script src="../static/lib/js/jquery.min.js"></script>
<script src="../static/lib/js/bootstrap.min.js"></script>
<script src="../static/lib/js/crossfilter.js"></script>
<script src="../static/lib/js/d3.js"></script>
<script src="../static/lib/js/dc.js"></script>
<script src="../static/lib/js/queue.js"></script>
<script src="../static/lib/js/keen.min.js"></script>


<script src="../static/js/graph.js" type="text/javascript"></script>
<script src="../static/js/force.js" type="text/javascript"></script>

</body>
</html>